@mixin divCenter($display,$justifyContant,$alignItem){
    display: $display;
    justify-content: $justifyContant;
    align-items: $alignItem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    @include divCenter(flex,space-evenly ,center );
    background-color: #FFB22C;
   
    height: 50px;
    padding: 2rem;

    .nav-logo{
        font-size: 1.3rem;
        font-weight: 600;
       
    }

    .search-bar{
        width: 40%;
        @include divCenter(flex,center ,center );

        input{
            width: 100%;
            padding: 0.7rem;
            background-color: transparent;
            border: none;
            border: 2px solid black;
            border-right: none;
            border-radius: 8px 0px 0px 8px;
            outline: none
        }

       .magnifying{
           padding: 0.3rem;
           border: 2px solid black;
           border-left: none;
            border-radius: 0px 8px 8px 0px;
            img{
                width: 25px;
                margin-right: 5px
            }
       }
    }

    .nav-lists{
   
        ul{
            @include divCenter(flex,center ,center);
            list-style: none;

            a{
                text-decoration: none;
                color: black;
            }
            
            li{
                margin-left: 25px;
                font-size: 1.1rem;
                font-weight: 400;
            }

            li:after{
                content: "";
                width: 0%;
                height: 2px;
                background-color: black;
                margin-top: auto;
                display: block;
                transition: all 0.5s ease ;
            }

            li:hover:after{
                width: 100%;
            }
        }
    }

    .authentication{
        @include divCenter(flex,center,center );

        .sign-up-btn{
            width: 100%;
            
            button{
                width: 100%;
                padding: 10px;
                font-size: 15px;
                background-color: black;
                color: white;
                border: none;
                border-radius: 5px;
            }
        }

        .user-profile{
            img{
               width: 40px; 
            }
        }
    }

}