@function button-style($bg-color,$text-color,$padding,$border-radius){
    @return(
        width: 100%,
        padding: $padding,
        outline: none,
        border: none,
        background-color: $bg-color,
        color: $text-color,
        border-radius: $border-radius,
    )
};

@mixin button($bg,$color,$padding,$radius){
    @each $prop,$value in button-style($bg, $color, $padding, $radius){
        #{$prop} : $value
    }
};

@mixin div-center($display:flex,$justifyContant:center,$alignItems:center){
    display: $display;
    justify-content: $justifyContant;
    align-items: $alignItems;
};

*{
    margin: 0;
    padding: 0;
}

body{
    @include div-center();
    width: 100vw;
    height: 100vh;

    .container{
        @include div-center();
        margin-bottom: 5px;
    }

    button{
        @include button(#111,#fff ,15px ,8px );
        font-size: 1rem;
    }

    p{
        margin: 0rem 1rem;
        font-size: 1.4rem;
    }
}
  

  
